<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BurialSite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/stylez.css" />
</head>
<body>
    <header>

        <div class="wrapper">
            <div class=" box box1">
                <div class="nested">
                    <div>
                        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </div>
                    <div class="vl">

                    </div>
                    <div>
                        Search
                    </div>


                </div>
            </div>
            <div class="box box2"><a asp-area="" asp-controller="Home" asp-action="Index"><img width="211" height="100" src="https://brightspotcdn.byu.edu/7e/29/0288440343ef99077c183af02377/byu-home-monogram.svg" /></a></div>
            <div class="box box3"><a asp-area="" asp-controller="Research" asp-action="ManageUsers">ManageUsers</a></div>
            <div class="box box4">box 4</div>
            <div class="box box5"><a class="nav-link text-dark" asp-area="" asp-controller="Research" asp-action="AddSite">Add Site</a></div>


        </div>

      

           

            @*  <div class="wrapper">
                <div><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></div>
                <div>byu</div>
                <div><a asp-area="" asp-controller="Research" asp-action="ManageUsers">ManageUsers</a></div>

            </div>*@
          @*  <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BurialSite</a>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Research" asp-action="AddSite">Add Site</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Research" asp-action="ManageUsers">ManageUsers</a>
                        </li>

                    </ul>
                </div>
            </div>*@

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer >
       
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
