/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  position: relative;
  min-height: 100%;
}*/


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    color: #444444;
    font-size: 12px;
    background: #f1f0f2;
}

    #footer .footer-top {
        padding: 50px 0 30px 0;
        background: #f9f8f9;
    }

.row a:link {
    color: #0062B6;
}

.row a:hover {
    color: #0062B6;
    border-bottom: 2px solid #002D5F;
}

.row li {
    color: #0062B6;
}


/* footer
    --------------------------------------------------------------------------------
    d
*/

.wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    /*grid-template-rows: 40px 40px 30px 70px 70px 20px 20px;*/
    /*grid-auto-rows: minmax(1px);*/
}

.nested {
    display: grid;
    grid-template-columns: 6fr 1fr 3fr 5fr;
}



span {
    /*content: "\007C";*/
    color: #002D5F;
    border-right: 2px solid #002D5F;
}


.vl {
    border-left: 2px solid #002D5F;
    height: 11px;
    position: absolute;
    left: 75%;
}

.nested1-1 {
    text-align: right;
}

.nested1-2 {
    text-align: left;
}

.nested1-3 {
    text-align: left;
}

.nested1-4 {
    text-align: left;
}


.wrapper > div:nth-child(odd) {
    color: white;
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 11px;
}

.box1 {
    background: #001832;
    /*justify-self:end;*/
}

.box1-5 {
    text-align: center;
}

.box2 {
    grid-column: 2/3;
    grid-row: 1/4;
    background: #002D5F;
    text-align: center;
    margin: auto;
    padding: 15px;
    width: 100%;
    height: 100%;
    /*grid-auto-rows: 110px;*/
}

.box3 {
    text-align: center;
    background: #001832;
}

.box4 {
    color: black;
    text-align: center;
    background: white;
}

.box5 {
    text-align: center;
    background: white;
}

.box5-1 {
    color: black;
    text-align: left;
    font-size: 13px;
}

.box5-2 {
    font-family: "Verdana" sans-serif;
    font-size: 1em;
    text-align: center;
    color: black;
    text-align: left;
    font-size: 13px;
    background: none;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
}

.pages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: end;
}

    .pages a:hover {
        color: black;
        border-bottom: 3px solid black;
    }

.box5-2:hover {
    text-decoration: underline;
    color: black;
    text-decoration-thickness: 3px;
}


a {
    text-decoration: none;
}

    a:hover {
        text-decoration: none;
        color: inherit;
        cursor: pointer;
    }

body {
    background-image: url("https://cas.byu.edu/cas/images/byu-bkgd-noblur2.jpg");
    background-color: #cccccc;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.landing {
    display: grid;
    grid-template-rows: 170px 240px 160px;
    text-align: center;
}

.landing1 {
    background: #001832;
    color: white;
    font-size: 17px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}


.landing2 {
    color: #F3F3EA;
    font-size: 60px;
    padding: 20px;
    font-family: 'Merriweather Sans', sans-serif;
    padding-bottom: 50px;
}

ul {
    list-style-type: none;
}



/* professors ----------------------------------------------------------*/
.professors {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /*grid-template-rows: 100px 180px 120px;*/
}

.professors1 {
    grid-column: 1/5;
    /*grid-row: 1/3;*/
    background: #fff;
    /*text-align: center;
        margin: auto;
        padding: 15px;
        width: 100%;
        height: 100%;*/
    color: white;
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.researchers {
    text-align: center;
    color: black;
}

.professors2-img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 3px;
    width: 200px;
    height: 200px;
    justify-self: center;
}

.professors3-img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 3px;
    width: 200px;
    height: 200px;
    text-align: center;
}

.professors3 {
    justify-self: right;
    text-align: center;
}



.professors {
}

.researchers {
    text-align: right;
}

.work {
    text-align: center;
    margin: auto;
    padding: 15px;
    width: 100%;
    height: 100%;
}


/* professors ----------------------------------------------------------*/
.blue {
    background: #001832;
    color:white;
}

.loginpage {
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
    grid-column-gap: 0em;
}

.loginpage-1 {
    align-self:center;
    justify-self: end;
  /*  grid-row: 1/2;*/
     /*grid-column-gap: 2em;*/
}

.loginpage-2 {
    /*grid-column: 2/3;*/
   /* grid-row: 1/2;*/
    background: #002E5D;
    color: white;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-right: 25px;
    padding-left: 35px;
    justify-self: start;
    
}
.loginpage-3 {
    /*grid-column: 2/3;
    grid-row: 1/2;*/
    background: #002E5D;
    color: white;
   /* padding-top: 20px;
    padding-bottom: 50px;
    padding-right: 25px;
    padding-left: 35px;*/
    justify-items: end;
    align-items: center;
}

.arrow-left {
    /* width: 0;
    height: 0;*/
    border-top: 48px solid transparent;
    border-bottom: 48px solid transparent;
    border-right: 48px solid #002E5D;
    /*justify-items: end;
    align-items: center;*/
    position: relative;
    top: 250px;
}

.input {
    width: 75%;
    padding: 4px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
}

.input-forgot {
    width: 100%;
    padding: 4px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
}

.term{
    font-size: 12px;
}

.useterm {
    color: #5199E1;
    text-decoration: underline;
    font-size: 12px;
}

.useterm2 {
    color: #5199E1;
    text-decoration: underline;
    text-align: center;
    font-size:12px;
}


    .useterm hover {
        color: #5199e1;
        text-decoration: underline;
        
        text-decoration-thickness: 1px;
    }

.duo{
    text-align:center;
    color:white;
    font-size: 12px;

}

.password {
    text-align: left;
    color: #B79257;
    font-size: 12px;
}


.signinbutton {
    width: 8em;
    height: 2em;
    background-color: #0062B8;
    border: none;
    color: white;
    border-radius: 5px;
    /*padding: 15px 32px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /*margin: 4px 2px;*/
    cursor: pointer;
}

.fullaccess{
    font-size: 8px;
}


.profile {
    display: grid;
    grid-template-columns: 50% 50% ;
    grid-column-gap: 1em;
    
    /* padding-top: 20px;
    padding-bottom: 50px;
    padding-right: 25px;
    padding-left: 35px;
    justify-self: start;*/
}

.profile1 {


}

.profile2 {
    background: #002E5D;
    color: white;
    grid-column: 1/2;
    justify-items: end;
}

.profile3 {
    background: white;
    color: #002E5D;
    grid-column: 2/3;
    grid-row: 1/2;
    justify-items: start;
    text-align:center;
}
.bottom-footer{
background: #002D5F;
color: white;

padding-top: 20px;
padding-bottom: 20px;
}