@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ResearchUser

<form asp-action="DeleteUser" asp-controller="Role" method="POST" class="form-group">
    <button class="btn btn-danger" type="submit">CONFIRM DELETION FOR EMAIL @Model.Email</button>
    <input type="hidden" name="UserId" value="@Model.Id" hidden />
</form>