@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model SavePhotoViewModel
<div class="row justify-content-center">

    <div class="col col-6">
        <form method="post" asp-action="SavePhotos" enctype="multipart/form-data">
            >
            <input type="hidden" id="BurialId" name="BurialId" value="@Model.Burial.BurialID" />

            <label asp-for="PhotoFile">Upload Photo</label>
            <input type ="file" asp-for="PhotoFile" class="form-control" />

            <label asp-for="Type">Upload Photo</label>
            <select asp-for="Type" class="form-control">

                <option value="Photo" selected>
                    Photo
                </option>
                <option value="BoneBooks">
                    Bone Books
                </option>
                <option value="Field Notes">
                    Field Notes
                </option>
            </select>

            <button class="btn btn-primary" type="submit">Save Photo</button>
        </form>

        <div asp-validation-summary="All"></div>
    </div>
</div>