@{ 
    ViewData["Title"] = "Register";
}

@model ResearchUser

<h2>Register an Account</h2>
<p>@ViewBag.Message</p>
<div>
    <form method="post" asp-action="Register">
        <div>
            <label>Username</label>
            <input asp-for="UserName"/>
            <br />
            <label>Password</label>
            <input asp-for="PasswordHash"/>

            <label>First Name</label>
            <input asp-for="FirstName"/>

            <label>Last Name</label>
            <input asp-for="LastName"/>

            <label>Email</label>
            <input asp-for="Email" />

            <label>Confirm Email</label>
            <input asp-for="EmailConfirmed" />

            <label>Phone Number</label>
            <input asp-for="PhoneNumber"/>
        </div>
    </form>
    
    <p> Already Registered? <a asp-controller="Account" asp-action="Login">Sign In</a>  </p>
    
</div>